/* { margin: 0; padding: 0; border: 0 }*/
/*body { background: url(../img/bg.png) }*/
legend { display: none }

#apresentacao { 
	/*width: 960px; */
	margin: 1% auto;
	overflow: hidden;
}
	

h1 { 
	font: 25px 'Open Sans', Arial; 
	text-align: center; 
	color: #555; 
	text-shadow: 2px 2px 0 #ccc; 
	margin-bottom: 20px; 
	letter-spacing: -0.5px
}

.campos {
	/*width: 740px; */
	margin: 5px auto 10px; 
	overflow: hidden; 
}
.campos.fixed{
	position: fixed;
	top: 25px;
	z-index: 999;
}

.campos label { 
	background: #333; 
	border-radius: 6px 0 0 6px; 
	color: #f0f0f0; 
	cursor: pointer; 
	display: block; 
	height: 30px; 
	float: left; 
	font: 15px 'Open Sans',Arial;
	padding: 7px 13px;
	/*width: 90px;*/
}

.campos input[type="text"] { 
	background: #FFF;
	width: 480px;
	color: #666;
	display: block;
	margin: 0 auto;
	font: 15px 'Open Sans',Arial;
	height: 30px;
	padding: 9px;
}

.campos input[type="button"] { 
	background: #2679A5; 
	border-radius: 0 6px 6px 0;
    color: #FFF;
    cursor: pointer;
    height: 34px;
    font: 15px 'Open Sans',Arial;
    padding: 2px 13px 6px;
    /*width: 10%;*/

    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

.campos input[type="button"]:hover { background: #12587C }

#mapa { 
	/*width: 99%;*/
	height: 530px;
	/*border: 5px solid #ccc;;*/
	margin-bottom: 20px;
}

input[type="submit"] {
	background: #2679A5; 
	border-radius: 6px;
    color: #FFF;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font: 20px 'Open Sans',Arial;
    padding: 7.5px 15px;
    /*width: 250px;*/

    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
}

input[type="submit"]:hover { background: #12587C }



/* =============== Estilos do autocomplete =============== */
.ui-autocomplete { 
	background: #fff; 
	border-top: 1px solid #ccc;
	cursor: pointer; 
	font: 15px 'Open Sans',Arial;
	margin-left: 3px;
	/*width: 493px !important;*/
	position: fixed;
}

.ui-autocomplete .ui-menu-item { 
	list-style: none outside none;
	/*padding: 7px 0 9px 10px;*/
}

.ui-autocomplete .ui-menu-item:hover { background: #eee }

.ui-autocomplete .ui-corner-all { 
	color: #666 !important;
	display: block;
}

.font-grey{
	color: #666;
}
.mp-label{
	margin-bottom: 31px;
	font-weight: bold;
	text-align: center;
}